<!DOCTYPE html>
<html lang="en">

<head>

	<% include partials/head/episodehead.ejs %>

</head>

<body>

	<% include partials/header/header.ejs %>

		<div id="hero-image-single" style="background-image: url('/images/season1/<%= season.poster %>');">
			<h1 id="hero-title">
				<%= season.title %>
			</h1>
		</div>


		<div id="posters-wrapper" class="content-padding clearfix">
			<ui class="poster">
				<% for (var i = 0; i < episodes.length; i++) { %>

					<li>
						<a href="/seasons/<%= season_number %>/episodes/<%= i+1 %>">

			  			<img src="/images/season1/<%= episodes[i].episode_image %>" class="img-responsive">

			  			<div class="poster-info-overlay">
			  				<h3><%= episodes[i].title %></h3>
			  				<h4>View More <i class="fa fa-arrow-right"></i></h4>
			  			</div>

					  	</a>
					</li>
				<% } %>
			</ui>

		</div>

		<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>

</body>
</html>